HOME

In [4]:
print("Hello, World!")

Hello, World!

Version

In [5]:
import sys

print(sys.version)

3.9.6 (default, May  7 2023, 23:32:44)
[Clang 14.0.3 (clang-1403.0.22.14.1)]

Syntax

In [6]:
# First example:
if 5 > 2:
  print("Five is greater than two!")

# Second example:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!
Five is greater than two!

In [7]:
# Comments

#This is a comment
print("Hello, World!")

print("Hello, World!") #This is a comment

#print("Hello, World!")
print("Cheers, Mate!")

Hello, World!
Hello, World!
Cheers, Mate!

Variables

In [8]:
# Variables

x = 5
y = "John"
print(x)
print(y)

x = 4           # x is of type int
x = "Sally"     # x is now of type str
print(x)

x = str(3)      # x will be '3'
y = int(3)      # y will be 3
z = float(3)    # z will be 3.0

print(type(x))
print(type(y))

x = "John"
# is the same as
x = 'John'

a = 4
A = "Sally"
#A will not overwrite a

5
John
Sally
<class 'str'>
<class 'int'>

Variable Names

In [9]:
# Legal variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names 

# Camel Case 
myVariableName = "John"

# Pascal Case 
myVariableName = "John"

# Snake Case
my_variable_name = "John"

Assign Multiple Values

In [10]:
# First example
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

# Second example
x = y = z = "Orange"
print(x)
print(y)
print(z)

# Third example
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Orange
Orange
Orange
apple
banana
cherry

Output Variables

In [11]:
# First example
x = "Python is awesome"
print(x)

# Second example
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

# Third example
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# First example with numbers
x = 5
y = 10
print(x + y)

# The wrong way of combinating numbers with str
x = 5
y = "John"
# print(x + y)

# The correct way
print(x, y)

Python is awesome
Python is awesome
Python is awesome
15
5 John

Global Variables

In [12]:
# First example
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

# Second example
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

# with Global keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

# also one example
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic
Python is awesome
Python is fantastic
Python is fantastic

In [ ]:
# We can use type() function to print the type of data
x = 5
print(type(x))


# Setting the data type

x = "Hello World"	                                        #str	
x = 20	                                                    #int	
x = 20.5	                                                #float	
x = 1j	                                                    #complex	
x = ["apple", "banana", "cherry"]	                        #list	
x = ("apple", "banana", "cherry")	                        #tuple	
x = range(6)	                                            #range	
x = {"name" : "John", "age" : 36}	                        #dict	
x = {"apple", "banana", "cherry"}	                        #set	
x = frozenset({"apple", "banana", "cherry"})	            #frozenset	
x = True	                                                #bool	
x = b"Hello"	                                            #bytes	
x = bytearray(5)	                                        #bytearray	
x = memoryview(bytes(5))	                                #memoryview	
x = None	                                                #NoneType

# Setting the Specific Data Type
x = str("Hello World")	                                    #str	
x = int(20)	                                                #int	
x = float(20.5)	                                            #float	
x = complex(1j)	                                            #complex	
x = list(("apple", "banana", "cherry"))                     #list	
x = tuple(("apple", "banana", "cherry"))                    #tuple	
x = range(6)	                                            #range	
x = dict(name="John", age=36)	                            #dict	
x = set(("apple", "banana", "cherry"))                      #set	
x = frozenset(("apple", "banana", "cherry"))	            #frozenset	
x = bool(5)	                                                #bool	
x = bytes(5)	                                            #bytes	
x = bytearray(5)	                                        #bytearray	
x = memoryview(bytes(5))	                                #memoryview

Numbers

In [13]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))      # int
print(type(y))      # float
print(type(z))      # complex

# Int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

# Float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

# Also float
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

# Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

# Type conversion
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

# Random number
import random

print(random.randrange(1, 10))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
6

Casting

In [14]:
# First example
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

# Second example
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

# Third example
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Strings

In [15]:
print("Hello")
print('Hello')  # There're same str

# Quotes Inside Quotes 
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

# Assign String to a Variable
a = "Hello"
print(a)

# Multiline Strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

# Strings are Arrays
a = "Hello, World!"
print(a[1])

# Looping Through a String
for x in "banana":
    print(x)

# String Length
a = "Hello, World!"
print(len(a))

# Check String
txt = "The best things in life are free!"
print("free" in txt)

if "free" in txt:
    print("Yes, 'free' is present.")

# Check if NOT
print("expensive" not in txt)

if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

Hello
Hello
It's alright
He is called 'Johnny'
He is called "Johnny"
Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
e
b
a
n
a
n
a
13
True
Yes, 'free' is present.
True
No, 'expensive' is NOT present.

Slicing Strings

In [16]:
# Slicing
b = "Hello, World!"
print(b[2:5])

# Slice From the Start
print(b[:5])

# Slice To the End
print(b[2:])

# Negative Indexing
print(b[-5:-2])

llo
Hello
llo, World!
orl

Modify Strings

In [17]:
# Upper Case
a = "Hello, World!"
print(a.upper())

# Lower Case
print(a.lower())

# Remove Whitespace
a = " Hello, Wolrd! "
print(a.strip()) # returns "Hello, World!"

# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

# Split String
a = "Hello, World!"
print(a.split(","))     # returns ['Hello', 'World!']

HELLO, WORLD!
hello, world!
Hello, Wolrd!
Jello, World!
['Hello', ' World!']

Concatenate Strings

In [18]:
# String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)    # will return HelloWorld

c = a + " " + b
print(c)    # will return Hello World

HelloWorld
Hello World

Format Strings

In [19]:
# String Format

age = 36 
txt = "My name is John, I am " + age
print(txt)  # error

# F-Strings
age = 36 
txt = f"My name is John, I am {age}"
print(txt)

# Placeholders and Modifiers
price = 59 
txt = f"The price is {price} dollars"
print(txt)

price = 59 
txt = "The price is {price:2f} dollars"

txt = f"The price is {20 * 59} dollars"
print(txt)

TypeError: can only concatenate str (not "int") to str

Escape Characters

\': Single Quote
\: Backslash
\n: New Line
\r: Carriage Return
\t: Tab
\b: Backspace
\f: Form Feed
\ooo: Octal value
\xhh: Hex value

In [ ]:
txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

String Methods

capitalize(): Converts the first character to upper case
casefold(): Converts string into lower case
center(): Returns a centered string
count(): Returns the number of times a specified value occurs in a string
encode(): Returns an encoded version of the string
endswith(): Returns true if the string ends with the specified value
expandtabs(): Sets the tab size of the string
find(): Searches the string for a specified value and returns the position of where it was found
format(): Formats specified values in a string
format_map(): Formats specified values in a string
index(): Searches the string for a specified value and returns the position of where it was found
isalnum(): Returns True if all characters in the string are alphanumeric
isalpha(): Returns True if all characters in the string are in the alphabet
isascii(): Returns True if all characters in the string are ascii characters
isdecimal(): Returns True if all characters in the string are decimals
isdigit(): Returns True if all characters in the string are digits
isidentifier(): Returns True if the string is an identifier
islower(): Returns True if all characters in the string are lower case
isnumeric(): Returns True if all characters in the string are numeric
isprintable(): Returns True if all characters in the string are printable
isspace(): Returns True if all characters in the string are whitespaces
istitle(): Returns True if the string follows the rules of a title
isupper(): Returns True if all characters in the string are upper case
join(): Joins the elements of an iterable to the end of the string
ljust(): Returns a left justified version of the string
lower(): Converts a string into lower case
lstrip(): Returns a left trim version of the string
maketrans(): Returns a translation table to be used in translations
partition(): Returns a tuple where the string is parted into three parts
replace(): Returns a string where a specified value is replaced with a specified value
rfind(): Searches the string for a specified value and returns the last position of where it was found
rindex(): Searches the string for a specified value and returns the last position of where it was found
rjust(): Returns a right justified version of the string
rpartition(): Returns a tuple where the string is parted into three parts
rsplit(): Splits the string at the specified separator, and returns a list
rstrip(): Returns a right trim version of the string
split(): Splits the string at the specified separator, and returns a list
splitlines(): Splits the string at line breaks and returns a list
startswith(): Returns true if the string starts with the specified value
strip(): Returns a trimmed version of the string
swapcase(): Swaps cases, lower case becomes upper case and vice versa
title(): Converts the first character of each word to upper case
translate(): Returns a translated string
upper(): Converts a string into upper case
zfill(): Fills the string with a specified number of 0 values at the beginning